@media screen and (min-width: 200px) and (max-width: 300px) {
  .news_list,a {
    font-size: 92%;
  }
  
}
@media screen and (min-width: 301px) and (max-width: 400px) {
  .news_list,a {
    font-size: 100%;
  }
  
}
@media screen and (min-width: 401px) and (max-width: 600px) {
  .news_list,a {
    font-size: 110%;
  }
  
}


.body{padding:0px;background-color: #f3efef;}
.language{float:left;padding-right:3px;}
.language img{width:21%;}
.search{
float:right;
border-radius:15px;
-webkit-border-radius: 15px;	
-moz-border-radius: 15px;
-o-border-radius: 15px;
 background-color:#eeeeee;
 box-shadow: #03a9f4;
 height:20px;
 width:auto;
 }
.search form input{
margin:auto;
height:22px;
width:100%;
outline: none;
padding-left:35px;
border-radius:15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-o-border-radius: 15px;
box-shadow: #03a9f4;
background: #eeeeee no-repeat left 5px center;
color:#000;
 }
.main_title{border:0px solid ;padding:4px;padding-bottom:5px;height:60px;;background-color:#333; margin-top:-60px; opacity:0.9;}
.main_title a{color:#fff;font-weight:400;font-size:18px;padding-bottom:3px;}
.news_list{border:0px solid ;height:98px;margin:7px 0px;}
.news_list img{height:100%;width:100%;}
.news_list a{color:#03a9f4;font-weight:bold;}
.news_list i{color:#03a9f4;font-size:12px;margin-top:4px;}


.search_footer{
margin:auto;
border-radius:15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
height:auto;
width:100%;
margin-top:-6px;
 }
.footer1 img
{
float:left;
background-color:#666666;
padding:5px;
padding-left:18px;
padding-right:18px;
width:15%;
height:auto;
}

.footer1 h1
{
float:right;
padding:5px;
width:85%;
height:auto;
margin:auto;
color:#fff;
font-size:24px;
font-weight:bold;
}
.internal_article{padding-left:2px;padding-right:2px;}
.internal_article p{color:#333333;text-align:justify;}
.internal_article img{ width:inherit !important;height:auto;padding-left:20px;padding-right:20px;padding-top:30px;padding-bottom:30px;}


.comment_form{
background-color:#797a7b;
padding:10px;
color:#fff;
height:auto;
border-radius:15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-o-border-radius: 15px;
}

.footer_down a{float:right;}

/* ==================================== Comment ==========================================================*/
.comment {border:1px solid #eee;padding:4px;}
.comment p {
border:1px solid #878787;
padding:4px;
border-radius:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius: 10px;
padding-left:5px;
margin-bottom:0px;
height:auto;
}
.comment span{margin-left:4px;margin-top:-3px;}
.comment h2{margin-left:4px;font-size:14px;font-weight:bold;margin-top:-1px;}

/* table styles*/
tr .main_articles{
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:1px solid #aaa;
}

/* material design cards */
.card {
	background: #fff;
	border-radius: 2px;
  display: inline-block;
  width: inherit;
	position: relative;
}  
.card-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}